<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/clientapp.js"></script>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather info !!</p>
    <p class="weatherinfo">{{weatherInfo}}</p>
    </div>
    {{>footer}}
  </body>
</html>
